
h2.showBtn::before, h4.showBtn::before {
    content: "\25BF " ;
    margin-right: 5px;
}

h2.hideBtn::before, h4.hideBtn::before {
    content: "\25B9 ";
    margin-right: 5px;
}

div.boxA { background: #E4F0F6; }
div.boxA::before { content: "Interactive"; }
